<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.latarce.location.dondeestamicoche"
    android:versionCode="5"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:name=".DondeActivity"
            android:label="@string/title_activity_donde_esta_mi_coche" 
            android:screenOrientation="portrait"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Position"
			android:label="@string/position_title"
			android:theme="@android:style/Theme.Dialog" >
        </activity>  
        <activity android:name=".About"
			android:label="@string/about_title"
			android:theme="@android:style/Theme.Dialog" >
        </activity>  
    </application>

</manifest>